.outer_full_width{
  min-height: 50vh;
}
.inner_max_width{
  width: 100%;
  height: 100%;
}
.slides{
  height: 100%;
  position: relative;
}
.slide_one,.slide_two,.slide_three,.slide_four{
  position: absolute;
  top: 10%;
  left: 0;
  transition: .5s;
  opacity: 1;
}
.slides button{
  background: var(--blue);
  border-radius: 0px;
  color: var(--white);
} 
.slides span{
  color: var(--blue);
}
.slider_one_img{
  position: relative;
  z-index: 1;
}

.slider_one_img::after{
content: "";
position: absolute;
width: 60%;
height: 60%;
background: var(--blue);
top: -20px;
right: -15px;
z-index: -1;
}
.slide_one{
  animation: animate1 15s infinite;
}.slide_two{
  animation: animate2 15s  infinite;
}.slide_three{
  animation: animate3 15s infinite;
}.slide_four{
  animation: animate4 15s infinite;
}
@keyframes animate1 {
  0%{opacity: 1;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 1;}
}@keyframes animate2 {
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}@keyframes animate3 {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}@keyframes animate4 {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@media (max-width:767px) {
  .outer_full_width{
    min-height: 120vh;
  }
  .slider_one_img::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    background: var(--blue);
    top: -10%;
    right: -4%;
    z-index: -1;
    }
}
@media (max-width:576px) {
  .outer_full_width{
    min-height: 100vh;
  }
}